<footer class="footer bg-primary">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="" target="_blank">about us</a></li>
            <li><a href="" target="_blank">our services</a></li>
            <li><a href="" target="_blank">privacy policy</a></li>
            <li><a href="" target="_blank">affiliate program</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="" target="_blank">FAQ</a></li>
            <li><a href="" target="_blank">Q&A</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-linkedin-in"></i></a>
          </div>
          
        </div>
        <div class="footer-col">
         <img src="img/logooooooo.jpeg" alt="No Photo" >
     </div>
      </div>
      
    </div>
</footer> 